{% extends 'base.html' %}

{% block title %}Renderizar nome da pergunta{% endblock %}

{% block content %}
<div class="wrapper">
  <form method="post" name="scale-form">
    {% csrf_token %}
    <div class="content">
      <h2>Pressione um número de 0 a 10 que representa a intensidade da dor que você está sentindo</h2>
      {% if erro %}
        {{ erro }}
      {% endif %}
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary btn-lg" style="background-color: white; color: #5A6978;">
          <input type="radio" name="options" value="1" autocomplete="off" > 1
        </label>
        <label class="btn btn-secondary btn-lg" style="background-color: #D1D5E9; color: #5A6978;">
          <input type="radio" name="options" value="2" autocomplete="off"> 2
        </label>
        <label class="btn btn-secondary btn-lg " style="background-color: #BBC1DE; color: #5A6978;">
          <input type="radio" name="options" value="3" autocomplete="off"> 3
        </label>
        <label class="btn btn-secondary btn-lg" style="background-color: #A4ACD4; color: #5A6978;">
          <input type="radio" name="options" value="4" autocomplete="off"> 4
        </label>
        <label class="btn btn-secondary btn-lg" style="background-color: #8E98C9; color: #5A6978;">
          <input type="radio" name="options" value="5" autocomplete="off"> 5
        </label>
        <label class="btn btn-secondary btn-lg" style="background-color: #7783BE; color: #5A6978;">
          <input type="radio" name="options" value="6" autocomplete="off" > 6
        </label>
        <label class="btn btn-secondary btn-lg" style="background-color: #606EB4;">
          <input type="radio" name="options"  value="7" autocomplete="off"> 7
        </label>
        <label class="btn btn-secondary btn-lg" style="background-color: #4A5AA9;">
          <input type="radio" name="options"  value="8" autocomplete="off"> 8
        </label>
        <label class="btn btn-secondary btn-lg" style="background-color: #33459E;">
          <input type="radio" name="options"  value="9" autocomplete="off"> 9
        </label>
        <label class="btn btn-secondary btn-lg" style="background-color: var(--primary);">
          <input type="radio" name="options"  value="10" autocomplete="off"> 10
        </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary btn-lg next-button">Próxima</button>
  </form>
</div>
{% endblock %}
