{% load static %}
<!DOCTYPE html>
<html>
  {% block css %}
    <link rel="stylesheet" href="{% static 'css/variables/sizes.css' %}">
    <link rel="stylesheet" href="{% static 'css/variables/colors.css' %}">
    <link rel="stylesheet" href="{% static 'css/core.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/pages/pain_scale.css' %}">
    <link rel="stylesheet" href="{% static 'css/pages/centralize_content.css' %}">
    <link rel="stylesheet" href="{% static 'css/pages/text_question.css' %}">
    <link rel="stylesheet" href="{% static 'css/pages/boolean_question.css' %}">
  {% endblock %}

  {% block javascript %}
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  {% endblock %}

  <div class="header">
    <a class="logo">Nome do Hospital</a>
  </div>

  {% block content %}
  {% endblock %}
</html>
