
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  color: #FFFFFF;
  background-color:	#1D3194;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}
.btn-lg{
  font-size: var(--large-font);
}
.btn-primary{
  background-color: var(--primary-color);
}

.next-button{
  position:absolute;
  bottom:0;
  right:0;
  margin-right: var(--min-margin);
  margin-bottom: var(--min-margin);
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}
