.wrapper{
  text-align: center;
  form{
    height: 10em;
    position: relative;
  }
}

.content{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

a {
  text-decoration: none !important;
}
