.scale-form{
  text-align: center;
  form{
    height: 10em;
    position: relative;
  }
}

.form-content{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.btn-group btn-group-toggle {
  font-size: var(--large-font);
}
